<!--Preguntas Frecuentes-->
<div class="col-12 bg-1 justify-content-center align-items-center text-center">
  <article
    class="shadow-lg d-md-inline-block rounded-bottom pt-5 bg-2 col-md-9 col-sm-12 mb-3"
  >
    <div class="text-center px-3 mb-5">
      <!--Título-->
      <H1 class="color-principal fw-bolder fs-1 my-5 border-bottom"
        >PREGUNTAS FRECUENTES</H1
      >
      <!--Acordión que lleva el cuerpo de las preguntas-->
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="false"
              aria-controls="collapseOne"
            >
              <h3 class="mb-3 fw-bolder color-principal">
                ATENCIÓN AL CLIENTE <i class="bi bi-person-lines-fill"></i>
              </h3>
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              @defer{
              <p><strong>¿Se está realizando Atención al Usuario ?</strong></p>
              <p>
                <em
                  >Si, Agua Potable de Jujuy S.E. se encuentra trabajando a
                  través de medios virtuales.</em
                >
              </p>
              <p>
                <em
                  >Por lo tanto para cualquier consulta podrás comunicarte
                  al&nbsp; comunicarte al 0 – 800 – 444 – 2633 ó al 4233200</em
                >
              </p>
              <p><em>Por whatsapp al 388 – 4614173</em></p>
              <p>
                <em>Consultar nuestra página web : </em
                ><a href="https://www.aguapotablejujuy.com.ar"
                  ><em>www.aguapotablejujuy.com</em></a
                >
              </p>
              <p>
                <em
                  >O al e-mail :
                  aguapotablejujuy&#64;aguapotablejujuy.com.ar</em
                >
              </p>
              <p>
                <strong
                  >¿En que horario me puedo comunicar por consultas de
                  Atención?</strong
                >
              </p>
              <p><em>Por teléfono todos los días de 07:00 a 21:00 hs.</em></p>
              <p>
                <em>Consultar nuestra página web : </em
                ><a href="https://www.aguapotablejujuy.com.ar"
                  ><em>www.aguapotablejujuy.com</em></a
                >
              </p>
              <p>
                <em
                  >O al e-mail :
                  aguapotablejujuy&#64;aguapotablejujuy.com.ar</em
                >
              </p>
              }
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              <h3 class="mb-3 fw-bolder color-principal">
                PAGO DE FACTURAS <i class="bi bi-wallet2"></i>
              </h3>
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              @defer{
              <p><strong>¿Dónde puedo pagar la factura de agua?</strong></p>
              <p>
                <em
                  >En las oficinas comerciales de Aguas Potable de Jujuy S.E. o
                  en cualquiera de la entidades recaudadoras habilitadas para
                  tal fin.</em
                >
              </p>
              <p>
                <a
                  href="https://aguapotablejujuy.com/wp-content/uploads/2020/04/WhatsApp-Image-2020-04-10-at-12.58.13.jpeg"
                  ><img
                    class="img-fluid img-preguntas-frecuentes"
                    src="preguntas-frecuentes/img1.webp"
                /></a>
              </p>
              <p>
                <strong
                  >¿Qué días y en que horario puedo pagar la factura en Agua
                  Potable de Jujuy S.E.?</strong
                >
              </p>
              <p><em>De lunes a viernes de 07:00 a 16:00 hs.</em></p>
              <p><strong>¿Se puede pagar factura vencida?</strong></p>
              <p>
                <em
                  >Si se puede pagar factura pasada la fecha de vencimiento</em
                >
              </p>
              <p>
                <strong
                  >¿Qué medios de pago se reciben para el pago en la oficina de
                  Agua Potable?</strong
                >
              </p>
              <p>
                <em
                  >Si se puede pagar con efectivo, tarjeta de débito y tarjeta
                  de crédito.</em
                >
              </p>
              <p>
                <a
                  href="https://aguapotablejujuy.com/wp-content/uploads/2024/10/2-1.png"
                  ><img
                    class="img-fluid img-preguntas-frecuentes"
                    src="preguntas-frecuentes/img2.webp"
                /></a>
              </p>
              <p><em>&nbsp;</em></p>
              <p><strong>¿Cómo pago una factura que no me llegó?</strong></p>
              <p>
                <em>Podrás &nbsp;imprimirla desde la página </em
                ><a href="https://www.aguapotablejujuy.com"
                  ><em>www.aguapotablejujuy.com</em></a
                ><em>
                  , para eso deberás contar con el número de usuario, una vez
                  impresa podes abonarla en cualquiera de las entidades
                  recaudadoras,.</em
                >
              </p>
              <p>
                <em
                  >También podes acercarte a la oficina de Agua Potable de Jujuy
                  y realizar la impresión de factura para ser abonada
                  exclusivamente en boca de cobranza de Agua Potable de Jujuy
                  S.E. de 07:00 a 16:00 hs.</em
                >
              </p>
              <p><strong>¿Cómo identifico el número de usuario ?</strong></p>
              <p>
                <em
                  >En cualquiera de la facturas de agua, en el margen derecho a
                  mitad de boleta está el dato de número de usuario, el cual es
                  una cifra de 14 dígitos, destacado en
                  <strong>negrita</strong>.</em
                >
              </p>
              <p>
                <a
                  href="https://aguapotablejujuy.com/wp-content/uploads/2020/04/cuenta-factura-agua.png"
                  ><img
                    class="img-fluid img-preguntas-frecuentes"
                    src="preguntas-frecuentes/img3.webp"
                /></a>
              </p>
              <p><strong>¿El número de usuario es siempre el mismo?</strong></p>
              <p>
                <em
                  >Sí, el número de usuario es siempre el mismo ya que es la
                  identificación para la facturación.</em
                >
              </p>
              <p>&nbsp;</p>
              }
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              <h3 class="mb-3 fw-bolder color-principal">
                ADHESIÓN A DÉBITO AUTOMÁTICO
                <i class="bi bi-credit-card-2-front"></i>
              </h3>
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              @defer{
              <p>
                <a
                  href="https://aguapotablejujuy.com/wp-content/uploads/2024/10/banner-debito.png"
                  ><img
                    class="img-fluid img-preguntas-frecuentes"
                    src="preguntas-frecuentes/img4.webp"
                /></a>
              </p>
              <p>
                <strong>¿Puedo adherir mi factura al débito automático?</strong>
              </p>
              <p>
                <em
                  >Si. Para adherir las facturas al débito podrás solicitarlo a
                  la entidad bancaria&nbsp;o tarjeta de crédito en el cual
                  desees realizar el débito automático.</em
                >
              </p>
              <p>
                <strong
                  >¿Se distribuyen las facturas que están adheridas al débito
                  automático?</strong
                >
              </p>
              <p>
                <em
                  >Sí se distribuyen estas facturas, ya que es el comprobante
                  que posee el cliente de lo que la empresa le factura.</em
                >
              </p>
              <p>
                <strong
                  >¿Cómo verifico que están ingresando los débitos?</strong
                >
              </p>
              <p>
                <em
                  >Deberás controlar en el resumen mensual de tu tarjeta de
                  crédito y/o en el extracto bancario de tu cuenta, donde se
                  informan los servicios e importes debitados.</em
                >
              </p>
              <p>&nbsp;</p>
              }
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                <h3 class="mb-3 fw-bolder color-principal">
                  INFORMAR FALTA DE AGUA EN DOMICILIO
                  <i class="bi bi-droplet"></i>
                </h3>
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  <a
                    href="https://aguapotablejujuy.com/wp-content/uploads/2024/10/Placa-telefonos-de-contacto.png"
                    ><img
                      class="img-fluid img-preguntas-frecuentes"
                      src="preguntas-frecuentes/img5.webp"
                  /></a>
                </p>
                <p>
                  <strong
                    >¿Cómo se realiza un reclamo por falta de agua?</strong
                  >
                </p>
                <p>
                  <em
                    >1º – Antes de realizar un reclamo por falta de agua deberá
                    verificar que la llave de paso este abierta.</em
                  >
                </p>
                <p>
                  <em
                    >2º – Controlar desde una canilla que entre directamente
                    desde la red de distribución que efectivamente no tenga
                    agua.</em
                  >
                </p>
                <p>
                  <em
                    >&nbsp;En caso de confirmar la falta de agua podrás dejar
                    asentado tu reclamo&nbsp; con el mensaje
                    <strong
                      >Falta de agua y los siguientes datos : Número</strong
                    >
                    <strong>de usuario, Nombre, Documento y Teléfono</strong>,
                    al whatsapp 388 – 4614173 y a la brevedad un operador se
                    comunicara con usted.</em
                  >
                </p>
                <p>
                  <em
                    >También podes comunicarte al 0 – 800 – 444 – 2633 ó al
                    4233200</em
                  >
                </p>
                <p><em>De 07:00 a 21:00 hs.</em></p>
                <p>
                  <strong
                    >¿Cuáles serían los posibles motivos por los cuales no tengo
                    agua?</strong
                  >
                </p>
                <p>
                  <em
                    >La falta de agua puede ser por: corte por algún trabajo
                    imprevisto o programado, pago, por falta de presión en la
                    red distribuidora,&nbsp;o porque la llave maestra o llave de
                    paso interna estén cerradas. Por eso es importante verificar
                    la falta de agua de la siguiente forma: en primera instancia
                    deberás controlar desde una canilla que entre directamente
                    desde la red de distribución, controlando que la llave de
                    paso interna esté abierta.&nbsp;</em
                  >
                </p>
                <p>&nbsp;</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                <h3 class="mb-3 fw-bolder color-principal">
                  INFORMAR BAJA PRESION DE AGUA EN DOMICILIO
                  <i class="bi bi-droplet-half"></i>
                </h3>
              </button>
            </h2>
            <div
              id="collapseFive"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  <strong
                    >¿Cómo se realiza un reclamo por baja presión de
                    agua?</strong
                  >
                </p>
                <p>
                  <em
                    >Para realizar un reclamo de baja presión de agua, podrás
                    dejar asentado tu reclamo con el mensaje
                    <strong
                      >Baja presión de agua y los siguientes datos :
                      Número</strong
                    >
                    <strong>de usuario, Nombre, Documento y Teléfono</strong>,
                    al whatsapp 388 – 4614173 y a la brevedad un operador se
                    comunicara con usted.</em
                  >
                </p>
                <p>
                  <em
                    >También podes comunicarte al 0 – 800 – 444 – 2633 ó al
                    4233200</em
                  >
                </p>
                <p><em>De 07:00 a 21:00 hs</em></p>
                <p>&nbsp;</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSix"
                aria-expanded="false"
                aria-controls="collapseSix"
              >
                <h3 class="mb-3 fw-bolder color-principal">
                  INFORMAR OBSTRUCCION <i class="bi bi-droplet-fill"></i>
                </h3>
              </button>
            </h2>
            <div
              id="collapseSix"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  <strong
                    >¿Cómo se realiza un reclamo por obstrucción
                    cloacal?</strong
                  >
                </p>
                <p>
                  <em
                    >Para realizar un reclamo por obstrucción cloacal, podrás
                    dejar asentado tu reclamo con el mensaje
                    <strong
                      >Obstrucción cloacal y los siguientes datos :
                      Número</strong
                    >
                    <strong>de usuario, Nombre, Documento y Teléfono</strong>,
                    por whatsapp al 388 – 4614173 y a la brevedad un operador se
                    comunicara con usted.</em
                  >
                </p>
                <p>
                  <em
                    >También podes comunicarte al 0 – 800 – 444 – 2633 ó al
                    4233200</em
                  >
                </p>
                <p><em>De 07:00 a 21:00 hs</em><em>&nbsp;</em></p>
                <p>
                  <strong
                    >¿La desobstrucción de cloacas debe realizarla Agua Potable
                    de Jujuy ?</strong
                  >
                </p>
                <p>
                  <em
                    >&nbsp;Agua Potable de Jujuy realiza la verificación para
                    comprobar si el inconveniente es en la red colectora, en
                    cuyo caso se realiza el trabajo de desobstrucción, si la
                    obstrucción es interna deberá realizar el arreglo el
                    propietario de manera particular.</em
                  >
                </p>
                <p>
                  <strong>¿Qué sucede si la obstrucción es interna?</strong>
                </p>
                <p>
                  <em
                    >En ese caso deberá hacer desobstruir las cloacas de manera
                    particular.</em
                  >
                </p>
                <p>&nbsp;</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSeven"
                aria-expanded="false"
                aria-controls="collapseSeven"
              >
                <h3 class="mb-3 fw-bolder color-principal">
                  RECLAMO POR PERDIDAS EN CALLE O VEREDA
                  <i class="bi bi-ban-fill"></i>
                </h3>
              </button>
            </h2>
            <div
              id="collapseSeven"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  <strong
                    >¿Cómo se realiza un reclamo por perdida de agua?</strong
                  >
                </p>
                <p>
                  <em
                    >Para realizar un reclamo por perdida de agua, podrás dejar
                    asentado tu reclamo con el mensaje
                    <strong
                      >Perdida de agua y los siguientes datos : Número</strong
                    >
                    <strong>de usuario, Nombre, Documento y Teléfono</strong>,
                    por whatsapp al 388 – 4614173, también deberás informar si
                    la pérdida es en calle o vereda y a la brevedad un operador
                    se comunicara con usted.</em
                  >
                </p>
                <p>
                  <em
                    >También podes comunicarte al 0 – 800 – 444 – 2633 ó al
                    4233200</em
                  ><em>&nbsp;</em>
                </p>
                <p>
                  <strong
                    >¿Toda perdida de agua debe ser reparada por Agua
                    Potable?</strong
                  ><em>&nbsp;</em>
                </p>
                <p>
                  <em
                    >Agua Potable de Jujuy realiza arreglo de perdidas sobre la
                    red pública de distribución, no realiza arreglos de perdidas
                    internas en conexión domiciliaria.</em
                  >
                </p>
                <p><strong>¿A qué se llama conexión domiciliaria?</strong></p>
                <p>
                  <em
                    >A la cañería de derivación comprendida entre la llave de
                    paso en vereda o medidor instalado, según sea el elemento
                    más alejado de la red pública de distribución.</em
                  >
                </p>
                <p>
                  <strong
                    >¿Hasta dónde llega la red pública de distribución de
                    agua?</strong
                  >
                </p>
                <p>
                  <em
                    >Hasta la salida de la llave maestra o del medidor, según
                    cuál sea el último elemento, es decir, el más cercano a las
                    instalaciones internas del inmueble, a partir de ahí se
                    considera red interna domiciliaria.</em
                  >
                </p>
                <p>
                  <strong
                    >¿Dónde se encuentra la llave maestra? ¿Y para qué
                    sirve?</strong
                  >
                </p>
                <p>
                  <em
                    >En conexiones antiguas la llave se encuentra en vereda,
                    para las conexiones nuevas ( Menores de 20 años )la llave se
                    encuentra dentro del gabinete y sirve para permitir el paso
                    de agua desde la red distribuidora hacia las instalaciones
                    internas.</em
                  >
                </p>
                <p>
                  <strong
                    >¿Quién debe realizar el arreglo de una perdida
                    interna?</strong
                  >
                </p>
                <p>
                  <em
                    >El usuario debe realizar el arreglo de cualquier rotura o
                    perdida interna de manera particular.</em
                  >
                </p>
                <p>
                  <strong
                    >¿Qué debo hacer si la pérdida que observo es en un inmueble
                    distinto del mío?</strong
                  >
                </p>
                <p>
                  <em
                    >Deberás informar a la empresa, para que la misma acuda a
                    reparar la pérdida si corresponde, o bien tomar las acciones
                    necesarias para evitar el derroche de agua.</em
                  >
                </p>
                <p>
                  <strong
                    >¿Qué sucede si la pérdida está dentro de un inmueble o
                    predio abandonado?</strong
                  >
                </p>
                <p>
                  <em
                    >Deberás informar a la empresa, para que la misma acuda a
                    reparar la pérdida si corresponde o bien cerrar la llave
                    maestra para evitar el derroche de agua.</em
                  >
                </p>
                <p>&nbsp;</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseEight"
                aria-expanded="false"
                aria-controls="collapseEight"
              >
                <h3 class="mb-3 fw-bolder color-principal">
                  RECOMENDACIONES POR ROBO DE MEDIDORES
                  <i class="bi bi-dash-circle"></i>
                </h3>
              </button>
            </h2>
            <div
              id="collapseEight"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  <a
                    href="https://aguapotablejujuy.com/wp-content/uploads/2023/03/roboMedidor.jpg"
                    ><img
                      class="img-fluid img-preguntas-frecuentes"
                      src="preguntas-frecuentes/img6.webp"
                  /></a>
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseNine"
                aria-expanded="false"
                aria-controls="collapseNine"
              >
                <h3 class="mb-3 fw-bolder color-principal">
                  CÓMO REALIZAR EL CAMBIO DE TITULARIDAD DE UNA CUENTA DE AGUA
                  POTABLE <i class="bi bi-file-diff-fill"></i>
                </h3>
              </button>
            </h2>
            <div
              id="collapseNine"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  <a
                    href="https://aguapotablejujuy.com/wp-content/uploads/2023/06/cambio-de-titularidad.png"
                    ><img
                      class="img-fluid img-preguntas-frecuentes"
                      src="preguntas-frecuentes/img7.webp"
                  /></a>
                </p>
                <h3 class="mb-3 fw-bolder">
                  NO SE DEBE CONECTAR EL DESAGÜE PLUVIAL AL SISTEMA DE CLOACAS
                </h3>
                <p>
                  <a
                    href="https://aguapotablejujuy.com/wp-content/uploads/2024/10/desagues-pluviales-1.png"
                    ><img
                      class="img-fluid img-preguntas-frecuentes"
                      src="preguntas-frecuentes/img8.webp"
                  /></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
