<!--Sección trámites-->
<div class="col-12 bg-1 justify-content-center align-items-center text-center">
  <article
    class="shadow-lg d-md-inline-block rounded-bottom pt-5 bg-2 col-md-9 col-sm-12 mb-3"
  >
    <div class="px-3 mb-5 col-12">
      <!--Título-->
      <H1 class="color-principal fw-bolder fs-1 my-5 border-bottom"
        >TRÁMITES</H1
      >
      <div class="accordion accordion-flush" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button  fs-2 fw-bold border border-dark-subtle rounded color-principal"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              Usuario
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <a
                class="row border border-black p-4 fw-bolder text-start text-decoration-none btn-tramite blanco rounded fs-2 mb-3 d-flex justify-content-between"
                href="/pdf/FORMULARIO_DE_CONEXION.pdf"
                target="_blank"
                ><p class="col-md-6 col-sm-12 text-nowrap">
                  Formulario de conexión
                </p>
                <i
                  class="bi bi-filetype-pdf text-danger pt-1 text-end fs-3 col-md-1 col-sm-3 text-center bg-pdf"
                ></i
              ></a>
              <a
                class="row border border-black p-3 text-start text-decoration-none btn-tramite blanco rounded fs-4 mb-3 d-flex justify-content-between"
                href="/pdf/REQUISITOS_CLOACA_GENERAL.pdf"
                target="_blank"
                ><p
                  class="col-md-6 col-sm-12 text-start text-nowrap align-self-start"
                >
                  Requisitos Cloaca
                </p>
                <i
                  class="bi bi-filetype-pdf text-danger pt-1 text-end fs-3 col-md-1 col-sm-3 text-center bg-pdf"
                ></i
              ></a>
              <a
                class="row border border-black p-3  text-start text-decoration-none btn-tramite blanco rounded fs-4 mb-3 d-flex justify-content-between"
                href="/pdf/REQUISITOS_PARA_CONEXIÓN_DE_AGUA.pdf"
                target="_blank"
              >
                <p class="col-md-6 col-sm-12">
                  Requisitos para Conexión de agua
                </p>
                <i
                  class="bi bi-filetype-pdf text-danger pt-1  text-end fs-3 col-md-1 col-sm-3 text-center bg-pdf"
                ></i
              ></a>
              <a
                class="row border border-black p-1 fs-6 ms-3 text-start text-decoration-none btn-home color-principal rounded fs-4 mb-3 d-flex justify-content-between"
                href="/pdf/GABINETE.pdf"
                target="_blank"
                ><p class="col-md-6 col-sm-12 text-nowrap">Gabinete</p>
                <i
                  class="bi bi-filetype-pdf text-white pt-1 text-end fs-3 col-md-1 col-sm-3 text-center bg-pdf2"
                ></i>
              </a>
              <a
                class="row border border-black p-1 fs-6 ms-3 fs-6 text-start text-decoration-none btn-home color-principal rounded fs-4 mb-3 d-flex justify-content-between"
                href="/pdf/MEDIDORES_HABILITADOS.pdf"
                target="_blank"
                ><p class="col-md-6 col-sm-12 text-nowrap">
                  Medidores habilitados
                </p>
                <i
                  class="bi bi-filetype-pdf text-light pt-1 text-end fs-3 col-md-1 col-sm-3 text-center bg-pdf2"
                ></i>
              </a>
              <a
                class="row border border-black p-3 text-start text-decoration-none btn-tramite blanco rounded fs-4 mb-3 d-flex justify-content-between"
                href="/pdf/REQUISITOS_CAMBIO_SISTEMA.pdf"
                target="_blank"
                ><p class="col-md-6 col-sm-12 text-nowrap">
                  Requisitos cambio sistema
                </p>
                <i
                  class="bi bi-filetype-pdf text-danger pt-1 text-end fs-3 col-md-1 col-sm-3 text-center bg-pdf"
                ></i
              ></a>
              
              <a
                class="row border d-md-none d-sm-block p-3 text-start text-decoration-none btn-tramite blanco rounded fs-4 mb-3 d-flex justify-content-between"
                href="/pdf/DEBITO_AUTOMATICO.pdf"
                target="_blank"
                ><p class="col-md-6 col-sm-12 text-nowrap">
                  Adhesión a débito automático
                </p>

                <i
                  class="bi bi-filetype-pdf text-danger pt-1 text-end fs-3 col-md-1 col-sm-3 text-center bg-pdf"
                ></i>
              </a>
              
              <a
                class="row border border-black d-none d-md-flex p-3 text-start text-decoration-none btn-tramite blanco rounded fs-4 mb-3 d-flex justify-content-between"
                href="/pdf/DEBITO_AUTOMATICO.pdf"
                target="_blank"
                ><p class="col-md-6 col-sm-12 text-nowrap">
                  Adhesión a débito automático
                </p>

                <i
                  class="bi bi-filetype-pdf secret-button text-danger pt-1 text-end fs-3 col-md-1 col-sm-3 text-center bg-pdf"
                ></i
                ><img
                  class="secret secret-button img-fluid"
                  src="images/gota_secreta.webp"
                  style="height: 3rem; width: auto; position: absolute"
                />
              </a>
              <a
                class="row border border-black p-3 text-start text-decoration-none btn-tramite blanco rounded fs-4 mb-3 d-flex justify-content-between"
                href="/pdf/AUTORIZACION_A _TERCEROS.pdf"
                target="_blank"
                ><p class="col-md-6 col-sm-12 text-nowrap">
                  Autorización a terceros
                </p>
                <i
                  class="bi bi-filetype-pdf text-danger pt-1 text-end fs-3 col-md-1 col-sm-3 text-center bg-pdf"
                ></i
              ></a>
            </div>
          </div>
        </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed fs-2 fw-bold border border-dark-subtle rounded color-principal"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Proveedores
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <a
              class="row border border-black p-3 text-start text-decoration-none btn-home color-principal rounded fs-4 mb-3 d-flex justify-content-between"
              href="/pdf/INSTRUCTIVO.pdf"
              target="_blank"
              ><p class="col-md-6 col-sm-12 text-nowrap">
                Instructivo Proveedores
              </p>
              <i
                class="bi bi-filetype-pdf text-light pt-1 text-end fs-3 col-md-1 col-sm-3 text-center bg-pdf2"
              ></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </article>
</div>
