
<!--Footer-->
<footer class="footer container-fluid text-light"
style="background-color: #083c8c">
<div class="row">
  <!--Info-->
<section class="col-6">
  <p class="fs-4 fw-bold text-center pt-3">Contacto</p>
  <div class="row">
    <i class="bi bi-geo-alt-fill fs-6 row mt-1 col-3 justify-content-end"></i>
    <a class="fs-8 mb-3 justify-content-start mt-1 col-9 text-decoration-none link-opacity-50-hover link-light" href="https://www.google.com/maps/place/Gral.+Alvear+941,+Y4600+San+Salvador+de+Jujuy,+Jujuy/@-24.1839208,-65.3088307,17z/data=!3m1!4b1!4m6!3m5!1s0x941b0f41cc227cf3:0x4cf7b9a38b43e0ba!8m2!3d-24.1839208!4d-65.3062558!16s%2Fg%2F11hzhb09nv?entry=ttu&g_ep=EgoyMDI1MDEyMi4wIKXMDSoASAFQAw%3D%3D" target="_blank">
      Gral. Alvear 941, Y4600 San Salvador de Jujuy, Jujuy
    </a>
  </div>
  <div class="row">
    <i
      class="bi bi-telephone-fill fs-6 row mt-1 col-3 justify-content-end"
    ></i>
    <a class="fs-8 mb-3 justify-content-start mt-1 col-9 text-decoration-none link-opacity-50-hover link-light" href="tel:0800-444-26337">0800-444-26337</a>
  </div>
  <div class="row">
    <i
      class="bi bi-envelope-fill fs-6 row mt-1 col-3 justify-content-end"
    ></i>
    <a class="fs-8 justify-content-start mt-1 col-9 text-decoration-none link-opacity-50-hover link-light" href="mailto:mesadeentradas_apsj@aguapotablejujuy.com.ar">
      mesadeentradas_apsj&#64;aguapotablejujuy.com.ar
    </a>
  </div>

  <div class="col-9 text-start"></div>
</section>
<!--Links-->
<section class="col-6">
  <div class="text-end fs-4 pt-3">
    <a class="px-2 link-light link-opacity-50-hover" href="https://api.whatsapp.com/send?phone=5493884614173" target="_blank" title="Whatsapp"
      ><i class="bi bi-whatsapp"></i></a
    ><a class="px-2 link-light link-opacity-50-hover" href="https://www.facebook.com/aguapotabledejujuy/" target="_blank" title="Facebook"  
      ><i class="bi bi-facebook"></i></a
    ><a class="px-2 link-light link-opacity-50-hover" href="https://www.instagram.com/aguapotablejujuy/" target="_blank" title="Instagram"
      ><i class="bi bi-instagram"></i
    ></a>
  </div>
  <div class="col text-end pe-4 pt-3">
    <a class="text-end link-opacity-50-hover  link-light fs-1 pe-3"
      target="_blank" href="https://apps.aguapotablejujuy.com/recibosweb/">
      <i class="bi bi-person-fill-lock"></i>
    </a>
  </div>
  <div class="col text-end pe-4 pt-3 link-opacity-100-hover">
    <img class="img-fluid img-nohover" src="images/gobjujuy-logo.webp" style="width:5rem;height:auto">
  </div>
  <!--Copyright-->
</section>
<div class="text-center">
  <p class="fs-9 mt-4">
    Copyright © {{ currentYear }} Agua Potable | Todos los derechos reservados
  </p>
</div>
</div>
</footer>
