<div class="container  px-0 my-5 text-center justify-content-center" style="min-height:60vh;">
    @switch(this.status){
    @case ('pending'){
    <div class="load_watertap my-5 py-5">
        <div class="gota"></div>
    </div>}
    @case('success'){
        @if (res.status==1){
            <img src="images/gota_verificado.webp" class="img-fluid img-nohover" style="width: 15rem; height: auto">
            <p class="fs-1 fw-bold text-center text-success mb-5 pb-5">{{res.data}}</p>
        }
        @if(res.status==2){
            <img src="images/gota_error.webp" class="img-fluid img-nohover" style="width: 15rem; height: auto">
            <p class="fs-1 fw-bold text-center text-danger mb-5 pb-5">{{res.data}}</p>
        }
        @if(res.status>2){
            <img src="images/gota_baja.webp" class="img-fluid img-nohover" style="width: 15rem; height: auto">
            <p class="fs-1 fw-bold text-center text-danger mb-5 pb-5">{{res.data}}</p>
        }
    
    
}
}
</div>